.header-info-box {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 0.5rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Item trong box */
.header-info-box span {
    font-size: 0.95rem;
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    white-space: nowrap;
}

.sidebar-link, a.sidebar-link {
    color: #fff;
}

.sidebar-link i, .sidebar-link svg, a.sidebar-link i, a.sidebar-link svg {
    color: #fff;
}